.App {
  background-color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.App-header {
  min-height: 100px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: white;
  border-bottom: #e0354b 4px solid;
}
.App-header-title {
  font-size: xx-large;
  color: #e0354b;
}
.App-logo{
  margin-right: 10px;
}
.App-body{
  display: flex;
  flex-direction: row;
  min-height: 330px;
}
.App-body >p {
  font-size: large;
  padding: 10px 18px;
  width: 100%;
  border-bottom: #e0354b 4px solid;
}
.App-link {
  color: #61dafb;
}
.App-footer {
  height:80px;
  display: flex;
  justify-content: center;
}

